<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Oběd</title>
  </head>
  <body>
  <div class="container-fluid">

    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">

        <br/>

        {% for place, dishes in data_ordered.items() %}
        <ul class="list-group">
          <li class="list-group-item"><h1>{{ place }}</h1></li>
          {% for dish in dishes %}
            <li class="list-group-item">{{ '\t'.join(dish) }}</li>
          {% endfor %}
        </ul>

        <br/>
        {% endfor %}

      </div>
      <div class="col-2"></div>
    </div>

  </div>
  </body>
</html>
